.content.fullwidth
  a.logo(href="/")
    i.icon.icon-logo
  .header-menu
    button.header-auth_btn(type="button" ui-sref="modal.login") Login
    .header-nav
      a.nav_item(href="/videos") Videos
