.content.fullwidth.clearfix
  .footer-general_info
    a.logo(href="#")
      i.icon.icon-logo
    .copyright
      | {{footer.year}} &copy; All Rights Reserved.
    .sign
      | Done with
      i.icon.icon-heart
      | in London
  .footer-links
    a(href="#") Videos
    a(href="#") About Us
    a(href="#") Schedule
    a(href="#") Contacts
    a(href="#") Events
    a(href="#") Terms and Conditions
    a(href="#") Privaci Policy
  .footer-social
    a(href="#")
      i.pic.facebook
    a(href="#")
      i.pic.twitter